%h1 Búsqueda de usuarios

- if @users.any?
  - if @users.count != 1
    %p Se han encontrado <strong>#{@series.count}</strong> resultado.
  - else
    %p Se ha encontrado <strong>1</strong> resultado.

  - @users.each do |user|
    .tipo-usuario
      - enlaceimagen = avatar_url(usuario)
      %img{:src=>"#{enlaceimagen}"}
      %label #{usuario.username}

- else
  %p No se ha encontrado ningún resultado
