%h1 Amigos
%p Aquí encontrarás a todos tus amigos
%br
- @amigos = FollowUser.where(user_id: current_user.id)
- @amigos.each do |amigo|
  - us = User.where(id: amigo.amigo_id)
  - us.each do |user|
    .tipo-usuario
      %a{:href=>"/perfiles/#{user.id}"}
        - enlaceimagen = avatar_url(user)
        %img{:src=>"#{enlaceimagen}"}
        %label #{user.username}