%h1 Mis Series:
%p
  Listado de tus series actuales.
%br
- @follow_show = FollowShow.where(user_id: current_user.id)
- @follow_show.each do |serie_actual|
  - actual = Series.where(id: serie_actual.series_id)
  - actual.each do |miserie|
    %a{:href=>"series/#{miserie.id}"}
      .tipo-serie-catalogo
        %img{:src=>miserie.enlace_imagen}
        %label #{miserie.nombre}
